.product {
  display: inline-block;
  height: 9em;
  width: 100%;
  box-shadow: 0 3px 8px 0 rgba(0,0,0,0.20);
  border-radius: 4px;
  margin-bottom: 2em;
  overflow: hidden;

  .face {
    display: block;
  }

  .currency {
    display: block;
  }

  .timeago {
    display: block;
  }
}